input {
    border: transparent;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;

    &:focus {
        outline: none;
    }
}

input::placeholder {
        font-family: 'Poppins', sans-serif;
        font-weight: 500 !important;
        color: #000000;
    
}


.upload-image-form {
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.1fr 0.7fr 0.2fr;
    grid-template-rows: 50px 1fr;

    label {
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    font-weight: 300;
    color: rgba($color: #000000, $alpha: .5);
    font-family: Poppins;
    border-radius: 12px;
    transition: .2s ease;
    &:hover {
        background-color: rgba($color: #F5F5F7, $alpha: 1);
        
    }
    
   
    }
    .image-selected {
        background-color:rgba($color: #81c784, $alpha: .3);
    }

}

.description-input {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    background-color: rgba(183, 187, 199, 0.25);
    padding: 0 12px; 
}

.description-input::placeholder {
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    font-weight: 400;
    
    
}