.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    
}


.last {
    border-bottom: none !important;
}

.active {
    border-left: 1px solid rgba($color: #5632FA, $alpha: 1);
   
    path {
        fill: #5632FA;
    }
    a {
        
        color: #5632FA;
    }
    &:hover{
        border-left: 1px solid rgba($color: #5632FA, $alpha: 1);
            a {
                color: rgba($color: #5632FA, $alpha: 1);
            }
            path {
                fill: rgba($color: #5632FA, $alpha: 1);
            }
        }
}