.post-icon {
    color: #5632fa;
}

.posts-container {
    
    margin-bottom: 30px;
    padding: 40px;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    height: fit-content;
    
}